.form-group {
    font-family: "Open Sans Condensed", sans-serif;
    padding-top: .8em;
  }
  
  /*.data {
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    padding-right:.7em;
    padding-top: 2em;
    padding-bottom: .2em;
    display:inline-block;
  }*/
  
  .listaexames {
      border: 1px solid #D3D3D3;
      max-height: 80px;
      overflow: auto;
      padding-left: 2px;
  }
  
  #exame{
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .negrito{
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
  }